<div class="action-right">
    <button mat-mini-fab color="primary" [matBadge]="selection.selected.length" [matBadgeHidden]="!selection.selected.length" matBadgeColor="accent" matBadgePosition="before" matTooltip="Relancer les tests" matTooltipPosition="left" style="margin-bottom: 0.5em;">
        <mat-icon>replay</mat-icon>
    </button>
</div>

<div class="content">
    <div class="header-page">
        <div class="title">
            <div class="icon">
                <mat-icon class="material-icons-outlined">desktop_windows</mat-icon>
            </div>
            <div class="label">
                <div class="title">Supervision des tests</div>
                <div class="sub-title">Historique des tests</div>
            </div>
        </div>
    </div>

    <mat-form-field appearance="standard">
        <mat-label>Filtre</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. aaa" #input>
    </mat-form-field>

    <div class="mat-elevation-z8 table">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Nom de l'Api </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> 
                    Description 
                </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="event">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Évènements </th>
                <td mat-cell *matCellDef="let element"> 
                    <div style="display: flex; align-items: center;">
                        <mat-icon style="margin-right: 0.5em;">
                            schedule     
                        </mat-icon>
                        {{element.event}} 
                    </div>
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="envAct">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Environnement Actuel</th>
                <td mat-cell *matCellDef="let element"> {{element.envAct}} </td>
            </ng-container>

            <ng-container matColumnDef="envExp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Environnement Attendu</th>
                <td mat-cell *matCellDef="let element"> {{element.envExp}} </td>
            </ng-container>

            <ng-container matColumnDef="result">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Résultat </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon [ngStyle]="{color: status[element.result]['color']}">{{status[element.result]['icon']}}
                    </mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef >
                    <mat-checkbox style="margin-bottom: 0.5em;" (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{element: element}">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="refresh">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button matTooltip="Restaurer l'historique de tous les tests" color="primary" style="margin-bottom: 0.5em;" (click)="refresh()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element">
                    
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Aucune donnée correspondant au filtre "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
    </div>
</div>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-element="element">
        <button mat-menu-item (click)="run(element)">
            <mat-icon color="primary">replay</mat-icon>
            <span>Relancer le test</span>
        </button>
        <button mat-menu-item (click)="compare(element)">
            <mat-icon color="primary">difference</mat-icon>
            <span>Voir les differences</span>
        </button>
    </ng-template>
</mat-menu>