<h2 mat-dialog-title>
    Lancer les tests
</h2>
<mat-dialog-content class="mat-typography" style="font-size: 12px;">
    <div style="display: flex;" *ngIf="step == 1">
        <div style="display: flex; flex-direction: column;" [formGroup]="actualForm">
            <h4>Environnement Actuel</h4>
            <div style="margin-bottom: 1em; display: flex;">
                <mat-form-field style="flex-grow: 1;" appearance="fill">
                    <mat-label>Application</mat-label>
                    <mat-select formControlName="app">
                        <mat-option *ngFor="let app of actualApps" [value]="app.value">{{app.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="actualForm.get('app').hasError('required')">L'application est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field style="flex-grow: 1;" appearance="fill">
                    <mat-label>Environnement</mat-label>
                    <mat-select formControlName="env">
                        <mat-option *ngFor="let env of actualEnvs" [value]="env.value">{{env.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="actualForm.get('env').hasError('required')">L'environnement est obligatoire</mat-error>
                </mat-form-field>
            </div>
            <div style="display: flex; flex-direction: column;" *ngIf="actualLoginType.value === 'NOVA_BASIC' || actualLoginType.value === 'BASIC'" [formGroup]="actualLogin">
                <div style="margin-bottom: 1em; display: flex; place-content: center; align-items: center;">
                    <mat-divider style="flex-grow: 1; margin-right: 1em;"></mat-divider>
                    <div style="display: flex; align-items: center;">
                        <mat-icon style="margin-right: 0.5em;">private_connectivity</mat-icon>
                        Connexion
                    </div>
                    <mat-divider style="flex-grow: 1; margin-left: 1em;"></mat-divider>
                </div>
                <div style="display: flex;">
                    <mat-form-field style="flex-grow: 1;" appearance="fill">
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input matInput formControlName="username">
                        <mat-error *ngIf="actualLogin.get('username').hasError('required')">Le nom d'utilisateur est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field style="flex-grow: 1;" appearance="fill">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="actualLogin.get('password').hasError('required')">Le mot de passe est obligatoire</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <mat-divider [vertical]="true"></mat-divider>
        <div style="display: flex; flex-direction: column;">
            <h4>Environnement Attendu</h4>
            <div style="margin-bottom: 1em; display: flex;" [formGroup]="expectedForm">
                <mat-form-field style="flex-grow: 1;" appearance="fill">
                    <mat-label>Application</mat-label>
                    <mat-select formControlName="app">
                        <mat-option *ngFor="let app of expectedApps" [value]="app.value">{{app.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="expectedForm.get('app').hasError('required')">L'environnement est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field style="flex-grow: 1;" appearance="fill">
                    <mat-label>Environnement</mat-label>
                    <mat-select formControlName="env">
                        <mat-option *ngFor="let env of expectedEnvs" [value]="env.value">{{env.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="expectedForm.get('env').hasError('required')">L'environnement est obligatoire</mat-error>
                </mat-form-field>
            </div>
            <div style="display: flex; flex-direction: column;" *ngIf="expectedLoginType.value === 'NOVA_BASIC' || expectedLoginType.value === 'BASIC'" [formGroup]="expectedLogin">
                <div style="margin-bottom: 1em; display: flex; place-content: center; align-items: center;">
                    <mat-divider style="flex-grow: 1; margin-right: 1em;"></mat-divider>
                    <div style="display: flex; align-items: center;">
                        <mat-icon style="margin-right: 0.5em;">private_connectivity</mat-icon>
                        Connexion
                    </div>
                    <mat-divider style="flex-grow: 1; margin-left: 1em;"></mat-divider>
                </div>
                <div style="display: flex;">
                    <mat-form-field style="flex-grow: 1;" appearance="fill">
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input matInput formControlName="username">
                        <mat-error *ngIf="expectedLogin.get('username').hasError('required')">Le nom d'utilisateur est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field style="flex-grow: 1;" appearance="fill">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="expectedLogin.get('password').hasError('required')">Le mot de passe est obligatoire</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    
    <div class="table" style="width: 510px;" [hidden]="step == 1">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Nom de l'Api </th>
                <td mat-cell *matCellDef="let element"> {{element.request.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.request.description}} </td>
            </ng-container>

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    Désactiver
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button (click)="choose()" *ngIf="step == 1 && data.tableElements.length > 1">Choisir</button>
    <button mat-button (click)="launch()" cdkFocusInitial>Lancer</button>
</mat-dialog-actions>


