.sidenav-container {
    height: 100%;
}

.menu-icon {
    position: absolute;
    margin: 1em;
}

.menu-item {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

mat-sidenav {
    background-image: linear-gradient(-12deg, #3ca6ec, #0162bd 88%);
    border: none;
}

mat-sidenav mat-nav-list a {
    color: white;
    height: auto;
}

.active-item {
    box-shadow: inset -5px 0px 0px 0px #6ac457 !important;
}

.main {
    max-width: 1127px; 
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

mat-sidenav-content {
    scrollbar-width: thin;
}

