.container {
    width: 1127px; 
    margin-left: auto; 
    margin-right: auto;
}

.nova-tab-selector {
    position: fixed;
    top: calc(55px + 1em);
    left: calc(((100vw - 1127px) / 2) - (50px + 1em));
    width: 50px;
    margin: 1em 1em 0 0;
}

.nova-tab-selector::before, .nova-tab-selector::after {
    content : '';
    height: 1em;
    width: 50px;
    border-right: 2px solid #d2cfd5;
    display: block;
}

.nova-tab-selector .nova-tab{
    width: 50px;
    height: 50px;
    border-right: 2px solid #d2cfd5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}


.nova-tab-selector .nova-tab.selected{
    /* border-top: 2px solid #faf9fb; */
    border-top: 2px solid #d2cfd5;
    border-bottom: 2px solid #d2cfd5;
    border-left: 2px solid #d2cfd5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    /* background-color: rgba(0, 0, 0, 0.10); */
    font-weight: 600;
    /* box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.menu {
    margin-bottom: 1em;
    padding: 0 1em 0 1em;
    background: var(--menu-color,#0072BC);
    color: white;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img.image {
        width: 80px;
        height: auto;
        font-size: .85714286rem;
    }
    .title {
        font-size: 1.07142857rem;
        font-weight: 700;
    }
}

