<div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img alt="Logo Enedis" class="image" src="assets/images/logo_enedis.png">
  <div></div>
</div>
<div class="container">
  <div class="nova-tab-selector">
    <div class="nova-tab" routerLink="/home/environment" routerLinkActive="selected"
      matTooltip="Configuration des environnements" matTooltipPosition="right">
      <mat-icon>settings</mat-icon>
    </div>
    <div class="nova-tab" routerLink="/home/request" routerLinkActive="selected"
      matTooltip="Liste des requêtes" matTooltipPosition="right">
      <mat-icon>checklist_rtl</mat-icon>
    </div>
    <div class="nova-tab" routerLink="/home/trace" routerLinkActive="selected"
      matTooltip="Historique des tests" matTooltipPosition="right">
      <mat-icon>history</mat-icon>
    </div>
  </div>
  <router-outlet></router-outlet>
  <!-- <ng-container [ngTemplateOutlet]="templateSelected || request"></ng-container> -->



  <ng-template #environment>
    <app-environment></app-environment>
  </ng-template>

  <ng-template #request>
    <app-request></app-request>
  </ng-template>

  <ng-template #trace>
    <app-trace></app-trace>
  </ng-template>

</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
      <mat-icon>bug_report</mat-icon>
      <span>Assert-Api</span>
  </button>
</mat-menu>