<!-- <div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <img alt="Logo Enedis" class="image" src="assets/images/logo_enedis.png">
  <div></div>
</div>
<div class="container">
  <div class="nova-tab-selector">
    <div class="nova-tab" routerLink="/home/environment" routerLinkActive="selected"
      matTooltip="Configuration des environnements" matTooltipPosition="right">
      <mat-icon>settings</mat-icon>
    </div>
    <div class="nova-tab" routerLink="/home/request" routerLinkActive="selected"
      matTooltip="Liste des requêtes" matTooltipPosition="right">
      <mat-icon>checklist_rtl</mat-icon>
    </div>
    <div class="nova-tab" routerLink="/home/trace" routerLinkActive="selected"
      matTooltip="Historique des tests" matTooltipPosition="right">
      <mat-icon>history</mat-icon>
    </div>
  </div>
  <router-outlet></router-outlet>
</div> -->
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #snav mode="side" opened fixedInViewport>
    <mat-nav-list>
      <a mat-list-item routerLink="/home/environment" [routerLinkActive]="'active-item'" matTooltip="Configuration des environnements" matTooltipPosition="right">
        <div class="menu-item">
          <mat-icon>settings</mat-icon><div *ngIf="isLarge$ | async">Environnements</div>
        </div>
      </a>
      <a mat-list-item routerLink="/home/request" [routerLinkActive]="'active-item'" matTooltip="Configuration des tests" matTooltipPosition="right">
        <div class="menu-item">
          <mat-icon>checklist_rtl</mat-icon><div *ngIf="isLarge$ | async">Tests</div>
        </div>
      </a>
      <a mat-list-item routerLink="/home/trace" [routerLinkActive]="'active-item'" matTooltip="Historique des tests" matTooltipPosition="right">
        <div class="menu-item">
          <mat-icon>history</mat-icon><div *ngIf="isLarge$ | async">Historique</div>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="ton_element_avec_scroll" #matSidenavContent>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
      <mat-icon>bug_report</mat-icon>
      <span>Assert-Api</span>
  </button>
</mat-menu>