<h2 mat-dialog-title>
    Lancer les tests
</h2>
<mat-dialog-content class="mat-typography" style="font-size: 12px;">
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column;">
            <h4>{{actualLogin.serverConfig.host}}</h4>
            <div style="display: flex;" *ngIf="actualLoginType.value === loginTypeEnum.NOVA_BASIC || actualLoginType.value === loginTypeEnum.BASIC" [formGroup]="actualLoginForm">
                <mat-form-field style="flex-grow: 1;" appearance="fill">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="actualLoginUsername.hasError('required')">Le nom d'utilisateur est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field style="flex-grow: 1;" appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="actualLoginPassword.hasError('required')">Le mot de passe est obligatoire</mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div style="display: flex; flex-direction: column;">
            <h4>{{expectedLogin.serverConfig.host}}</h4>
            <div style="display: flex;" *ngIf="expectedLoginType.value === loginTypeEnum.NOVA_BASIC || expectedLoginType.value === loginTypeEnum.BASIC" [formGroup]="expectedLoginForm">
                <mat-form-field style="flex-grow: 1;" appearance="fill">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="expectedLoginUsername.hasError('required')">Le nom d'utilisateur est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field style="flex-grow: 1;" appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="expectedLoginPassword.hasError('required')">Le mot de passe est obligatoire</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button (click)="launch()" cdkFocusInitial>Lancer</button>
</mat-dialog-actions>
