tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

table {
    width: 100%;
}

mat-form-field:not(:first-child) {
    margin-left: 1em;
}
.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    .title {
        display: flex;

        .icon {
            align-items: center;
            margin-right: 1em;

            .mat-icon {
                font-size: 35px;
                height: 35px;
                width: 35px;
            }
        }

        .label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .title {
                font-size: 1.28571429rem;
            }

            .sub-title {
                font-size: 10px;
                color: rgba(0, 0, 0, .6);
                font-style: italic;
            }
        }
    }
}