/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slide-toggle-thumb-container {
    z-index: 0!important;
}


.mat-divider-vertical {
    margin-right: 1em !important;
    margin-left: 1em !important;
}

.mat-dialog-content {
    scrollbar-width: thin;
}